
div{
  display: none;
  font-size: 3vw;
  overflow: scroll;
  &:hover{
    box-shadow: 1vw 1vw 5px $white;
  }
}
.find-make{
  float: left;
  color: $black;
  position: relative;
  display: block;
  height:20vw;
  width: 35vw;
  background-color: $blue;
  padding: 1vw;
  margin: 1vw;
}
.find-model{
  display: none;
  float: left;
  color: $black;
  position: relative;
  height:20vw;
  width: 35vw;
  background-color: $blue;
  padding: 1vw;
  margin: 1vw;
}
.find-year{
  display: none;
  float: left;
  color: $black;
  position: relative;
  height:20vw;
  width: 35vw;
  background-color: $blue;
  padding: 1vw;
  margin: 1vw;
}
.submit{
    display: none;
    background-color:$gray;
  	border-radius:0.5vw;
  	border:0.5vw solid $black;
  	color:$black;
  	font-size:2vw;
  	padding:1vw 1vw;
    &:hover{
      box-shadow: 1vw 1vw 5px $black;
    }
}
.find-trim{
  display: none;
  float: left;
  color: $black;
  position: relative;
  height:20vw;
  width: 35vw;
  background-color: $blue;
  padding: 1vw;
  margin: 1vw;
}
.eng-spec{
  display: none;
  float: left;
  color: $black;
  position: relative;
  height:50vw;
  width: 35vw;
  background-color:$blue;
  padding: 1vw;
  margin: 1vw;
}
.tranny-spec{
  display: none;
  float: left;
  color: $black;
  position: relative;
  height:50vw;
  width: 35vw;
  background-color: $blue;
  padding: 1vw;
  margin: 1vw;
}
.show{
  display: block;
}
.hide{
    display: none;
}
